* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

.container {
  background: linear-gradient(#686A6C 55%, #F1A23D);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
  display: grid;
}

.grid {
  display: grid;
  height: 480px;
  width: 320px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.item {
  border-radius: 0;
  opacity: 0.8;
  border: 0.5px solid black;
  color: white;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}


.item:hover{
  opacity: 0.7;
}

.item:active{
  background-color: white;
  opacity: 0.3;
  color:#4A494F;
}

.display {
  grid-column: 1 / 5;
  background-color: #4A494F;
  opacity: 0.7;
  border: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 30px;
  color: white;
  padding-left: 15px;
}

.zero {
  grid-column: 1 / 3;
}

.button-operations {
  background-color: #5A5663;
}

.button-operations-right {
  background-color: #F1A23D;
}

.button-numbers{
  background-color: #75757D;
}